# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
/abdc/.vs
/AbalienDiagramChaser
/AbCatDC/AbCatDC/.vs
/AbCatDC/AbCatDC/AbCatDC/AbCatDC.RazorLib/obj
/AbCatDC/AbCatDC/AbCatDC/AbCatDC/bin
/AbCatDC/AbCatDC/AbCatDC/AbCatDC/obj
/AbCatDC/AbCatDC/AbCatDC/AbCatDC.RazorLib/bin
/AbCatDC/AbCatDC/AbCatDC/AbCatDC.Kernel/obj
/DiagramDetective/DiagramDetective/.vs
/DiagramDetective/DiagramDetective/DiagramDetective/x64
